#!/bin/bash
# set the offline token and checksum parameters
offline_token="{{ RHEL_OFFLINE_TOKEN }}"
checksum="{{ RHEL_CHECKSUM }}"

# get an access token
access_token=$(curl https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token -d grant_type=refresh_token -d client_id=rhsm-api -d refresh_token=$offline_token | jq -r '.access_token')

# get the filename and download url
image=$(curl -H "Authorization: Bearer $access_token" "https://api.access.redhat.com/management/v1/images/$checksum/download")
filename=$(echo $image | jq -r .body.filename)
url=$(echo $image | jq -r .body.href)

# download the file
pushd /media
echo $PWD
curl $url -o $filename
popd